:root {
    --black: #212121;
    --white: #ffffff;
    --footer_color: #2f303a;
    --blue: #2196f3;
    --grey: #757575;
    --like_white: #f5f4fa;
    --fonts: "Roboto";
}
    
body {
           font-family: var(--fonts), sans-serif;
    color: var(--black);
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    font-weight: 400;
}

h1, h2, h3, h4, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

address {
    font-style: normal;
}

button {
    font: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; 
}

.header {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
}

.header .container {
    display: flex;
    align-items: center;
}

.header nav {
    margin-left: 93px;
}

.contacts-info {
    display: flex;
    margin-left: auto;
    gap: 40px;
    color: var(--grey);
    font-weight: 500;
    letter-spacing: 0.02em;


    a {
        transition: color 300ms ease-in-out;
    }

    a:hover, a:focus {
        color: var(--blue);
    }
}


.pages-list {
    display: flex;
    gap: 50px;

    a {
        transition: color 300ms ease-in-out;
    }

    a:hover, a:focus {
        color: var(--blue);
    }
}

.page-link {
    a {
        font-weight: 500;
        transition: color 300ms ease-in-out;
        letter-spacing: 0.02em;
    }
    a:hover, a:focus {
        color: var(--blue);
    }
}
.sec1 {
    background-color: var(--footer_color);
    height: 600px;
    display: flex;
    align-items: center;
    text-align: center;
}

.header-logo {
    color: var(--blue);
    > span {
        color: var(--black);
    }
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.main-sec1-title {
    color: var(--white);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: auto;
    max-width: 696px;
}

.order-button {
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    border: none;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border-radius: 4px;
    background: var(--blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 24px;
    transition: background-color 0.5s;
    cursor: pointer;
    margin-top: 30px;
}

.order-button:hover,
.order-button:focus {
    background-color: var(--blue);
}

.details {
    padding-top: 94px;
    padding-bottom: 94px;
}

.details-list {
    gap: 30px;
    display: flex;
}

.details-list-element {
    max-width: 270px;   
}

.details-list-title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.details-list-text {
    color: var(--grey);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 10px;
}

.activities {
    text-align: center;
    padding-bottom: 94px;
}

.activities-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    
}

.activities-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.members {
    background: var(--like_white);
    text-align: center;
    padding-bottom: 94px;
    padding-top: 94px;
}

.members-info {
    padding-bottom: 30px;
}

.members-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: var(--black);
    text-align: center;
    margin-bottom: 50px;
}

.members-list {
    justify-content: center;
    display: flex;
    gap: 30px;
}

.member {
    border-radius: 0px 0px 4px 4px;
    background: var(--white);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.member-photo {
    margin-bottom: 30px;
}

.member-name{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.member-spec{
    color: var(--grey);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.button-list {  
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;

    .button-list-element {
    background-color: var(--like_white);
    color: var(--black);
}

button {
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
    border: none;
}

button:hover, a:focus {
    color: var(--white);
    background-color: var(--blue);
}
}


.button-list-element {
    background: var(--like_white);
    color: var(--black);
}

button {
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
    border: none;
}

button:hover, a:focus {
    color: var(--white);
}

.button-list-buttons {
    color: var(--black);
    background: var(--like_white);
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 22px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.projects-list-element {
    border: 1px solid #EEE;
    background: var(--white);
    max-width: 370px;
}

.projects-list-element a{
    display: block;
}

.projects-list-img {
    width: 100%;
}

.projects-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 94px;
}

.project-info {
    padding: 20px 23px;
}

.projects-list-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;         
}

.projects-list-text {
    color: var(--grey);
    font-size: 16px;;
    line-height: 1.875;
    letter-spacing: 0.03em;
}

.projects-list-element-text {
    padding: 20px;
    margin: 5px;
}

.footer {
    background-color: var(--footer_color);
}

.footer .container { 
    padding-top: 60px;
    padding-bottom: 60px;
}
    
    .footer-logo {
        color: var(--blue);
        > span {
            color: var(--white);
        }
        font-family: Raleway, sans-serif;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 0.03em;
        display: inline-block;
        margin-bottom: 28px;
    }

    .footer address ul li:not(:last-child) {
        margin-bottom: 12px;
    }
    .address {
        color: var(--white);
        line-height: 115%;
        letter-spacing: 0.03em;
        margin-bottom: 12px;
    }
    .footer-contacts {
        color: rgba(255,255,255,0.6);
        line-height: 1.6;
        font-style: normal;
        letter-spacing: 0.03em;

        a {
            transition: color 300ms ease-in-out;
        }
        a:hover, a:focus {
            color: var(--blue);
        }
    }

    .portfolio {
        padding-bottom: 94px;
        padding-top: 94px;
    }
    
    
