:root {
    --black: #212121;
    --white: #ffffff;
    --footer_color: #2f303a;
    --blue: #2196f3;
    --grey: #757575;
    --like_white: #f5f4fa;
    --fonts: "Roboto";
}

body {
    font-family: var(--fonts), sans-serif;
    color: var(--black);
    font-style: normal;
    line-height: normal;
    font-size: 14px;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

address {
    font-style: normal;
}

button {
    font: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ececec;
}

.header .container {
    display: flex;
    align-items: center;
}

.header nav {
    margin-left: 93px;
}

.contacts-info {
    display: flex;
    margin-left: auto;
    gap: 40px;
    color: var(--grey);
    font-weight: 500;
    letter-spacing: 0.02em;

    a {
        transition: color 300ms ease-in-out;
    }

    a:hover,
    a:focus {
        color: var(--blue);
    }
}

.pages-list {
    display: flex;
    gap: 50px;
}

.page-link {
    position: relative;
    color: #212121;
    text-decoration: none;
    line-height: 1.14;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    letter-spacing: 0.02em;
}

.page-link-active {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.03em;
    word-wrap: break-word;
    color: var(--blue);
}

.page-link:hover,
.page-link:focus,
.page-link.current {
    color: var(--blue);
}

.page-link-active::after {
    position: absolute;
    content: "";
    bottom: -32px;
    display: block;
    left: 0;
    border: 2px;
    width: 100%;
    height: 4px;
    background-color: var(--blue);
}

.sec1 {
    background-color: var(--footer_color);
    height: 600px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../img/backgroundformain.jpg");
    background-size: cover;
}

.header-logo {
    color: var(--blue);
    > span {
        color: var(--black);
    }
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.main-sec1-title {
    color: var(--white);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: auto;
    max-width: 696px;
}

.order-button {
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    border: none;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border-radius: 4px;
    background: var(--blue);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 24px;
    transition: background-color 0.5s;
    cursor: pointer;
    margin-top: 30px;
}

.order-button:hover,
.order-button:focus {
    background-color: var(--blue);
}

.details {
    padding-top: 94px;
    padding-bottom: 94px;
}

.details-list {
    gap: 30px;
    display: flex;
}

.details-list-element {
    max-width: 270px;
}

.details-list-title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.details-list-text {
    color: var(--grey);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 10px;
}
.details-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: var(--like_white);
    border-radius: 4px;
}

.activities {
    text-align: center;
    padding-bottom: 94px;
}

.activities-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.activities-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.activities-list-element {
    position: relative;
}

.activities-list-element img {
    display: block;
}

.activities-box {
    display: flex;
    height: 70px;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 27px 0;
    background: rgba(47, 48, 58, 0.8);
}

.activities-text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--white);
}

.members {
    background: var(--like_white);
    text-align: center;
    padding-bottom: 94px;
    padding-top: 94px;
}

.members-info {
    padding: 30px;
}

.members-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: var(--black);
    text-align: center;
    margin-bottom: 50px;
}

.members-list {
    justify-content: center;
    display: flex;
    gap: 30px;
}

.member {
    border-radius: 0px 0px 4px 4px;
    background: var(--white);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.member-name {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.member-spec {
    color: var(--grey);
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.03em;
}

.members-social-links {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.members-social-links li {
    width: 44px;
    height: 44px;
}

.social-links-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: #afb1b8;
    fill: currentColor;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

a.social-links-icons:hover,
a.social-links-icons:focus {
    background-color: var(--blue);
    color: var(--white);
    outline: none;
}

.button-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;

    button {
        transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
        border: none;
    }

    button:hover,
    a:focus {
        color: var(--white);
        background-color: var(--blue);
    }
}

button {
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
    border: none;
}

button:hover,
button:focus {
    color: var(--white);
}

.button-list-buttons {
    color: var(--black);
    background: var(--like_white);
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 22px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}

.button-list-buttons:hover,
.button-list-buttons:focus {
    background-color: var(--blue);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list-element {
    border: 1px solid #eee;
    background: var(--white);
    max-width: 370px;
}

.projects-list-element a {
    display: inline-block;
    transition: box-shadow 300ms ease-in-out;
}

.projects-list-img {
    width: 100%;
}

.projects-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-info {
    padding: 20px 23px;
}

.projects-list-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.projects-list-text {
    color: var(--grey);
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
}

.projects-list-element-text {
    padding: 20px;
    margin: 5px;
}

.project-link {
    display: block;
    text-decoration: none;
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-wrap {
    position: relative;
    overflow: hidden;
}

.projects-text-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    width: 100%;
    font-size: 18px;
    line-height: 1.56;
    background-color: rgba(33, 150, 243, 0.9);
    color: #ffffff;
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-element:hover .projects-text-cover,
.projects-list-element:focus .projects-text-cover {
    transform: translateY(0);
}

.footer {
    background-color: var(--footer_color);
}

.footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color: var(--blue);
    > span {
        color: var(--white);
    }
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 28px;
}

.footer address ul li:not(:last-child) {
    margin-bottom: 12px;
}
.address {
    width: 207px;
    color: var(--white);
    line-height: 115%;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
}
.footer-contacts {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.6;
    font-style: normal;
    letter-spacing: 0.03em;

    a {
        transition: color 300ms ease-in-out;
    }
    a:hover,
    a:focus {
        color: var(--blue);
    }
}

.footer-joinus {
    color: var(--white);
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-social-links {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
}

.footer-social-links li {
    height: 44px;
    width: 44px;
}

.footer-social-links-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: var(--white);
    fill: currentColor;
    transition: color 0.5s, background-color 0.5s;
}

.footer-social-links-icons:hover,
.footer-social-links-icons:focus {
    color: var(--white);
    background-color: var(--blue);
    fill: currentColor;
}

.portfolio {
    padding-bottom: 94px;
    padding-top: 94px;
}

.contact-link {
    color: var(--grey);
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color 300ms ease-in-out;
}

.header-icon {
    margin-right: 10px;
    align-self: center;
    fill: currentColor;
}

.client {
    width: 170px;
}
.top-clients {
    text-align: center;
    padding: 94px 0;
    margin: 0;
}

.top-clients-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.top-clients-title {
    color: var(--black);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    word-wrap: break-word;
}

.client a {
    width: 100%;
    height: 92px;
    border-radius: 4px;
    border: 1px #afb1b8 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #afb1b8;
    transition: color 0.5s, border 0.5s;
}

.client a:hover,
.client a:focus {
    color: var(--blue);
    border: 1px var(--blue) solid;
}

.client-logo {
    width: 106px;
    height: 60px;
    fill: currentColor;
    transition: fill 0.5s;
}

.footer-wrapper {
    display: flex;
    align-items: baseline;
    gap: 94px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    min-width: 528px;
    min-height: 581px;
    background-color: var(--white);
    opacity: 1;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    align-items: center;
    border-radius: 50%;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.modal_icon {
    width: 18px;
    height: 18px;
    fill: var(--black);
    transition: fill 0.5s;
}

.modal-close-btn:hover .modal_icon,
.modal-close-btn:focus .modal_icon {
    fill: var(--blue);
}

.modal-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.modal-title {
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.03em;
    margin-bottom: 12px;
    text-align: center;
}

.label-text {
    display: block;
    margin-bottom: 4px;
}

.form-label {
    outline: none;
}
.form-li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    cursor: pointer;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form_textarea {
    height: 120px;
    width: 100%;
    border-radius: 4px;
    border: 1px #21212133 solid;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.01em;
    padding: 11px 12px;
    resize: none;
}

.form-input:focus + .form-icon,
.form-input:hover + .form-icon {
    color: var(--blue);
}

.form-input:hover,
.form-input:focus,
.form_textarea:hover,
.form_textarea:focus {
    outline: 1px var(--blue) solid;
}

.form-label {
    color: var(--grey);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.01em;
    position: relative;
}

.form-label:not(:first-child) {
    margin-top: 10px;
}

.form-icon {
    position: absolute;
    color: var(--black);
    bottom: 11px;
    left: 12px;
    transition: color 300ms ease-in-out;
}

.checkbox-div {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    gap: 9px;
}

.form-a {
    text-decoration: underline;
    color: var(--blue);
}

.input-accept:checked + .label-accept::before {
    user-select: none;
    background-color: var(--blue);
    border: none;
    background-image: url(../img/svg/icons.svg#icon-check);
    background-repeat: no-repeat;
    background-position: center;
}
.input-accept:focus + .label-accept::before {
    user-select: none;
    border-color: var(--blue);
}
.button-form-div {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
}

.form-button {
    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 10px 52px;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    transition: background-color 300ms ease-in-out;
}

.form-button:hover,
.form-button:focus {
    background: var(--light_blue);
}

.subscribe {
    flex-grow: 1;
}

.subscribe-form {
    display: flex;
}

.subscribe-label-input {
    flex-grow: 1;
}
.subscribe-input {
    width: 358px;
    height: 50px;
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px rgba(255, 255, 255, 0.3) solid;
    padding: 16px 16px 16px 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
    width: 200px;
    background: var(--blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 28px;
    margin-left: 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--white);
    display: flex;
    align-items: center;
    transition: background-color 300ms ease-in-out;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: var(--light_blue);
}

.subscribe-text {
    height: 207px;
    height: 16px;
    color: var(--white);
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subscribe-btn-svg {
    margin-left: 10px;
    fill: currentColor;
}

.subscribe-input:focus,
.subscribe-input:hover {
    outline-color: var(--blue);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
